/*
 * App Global CSS
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// @import '@ionic/angular/css/palettes/dark.system.css';

// ============================================
// ESTILOS GLOBALES PARA INPUTS - FORZAR VISIBILIDAD
// ============================================

// Forzar color negro en todos los inputs
ion-input {
  --color: #111827 !important;
  --placeholder-color: #9ca3af !important;
  --placeholder-opacity: 1 !important;
  
  input {
    color: #111827 !important;
    -webkit-text-fill-color: #111827 !important;
    
    &::placeholder {
      color: #9ca3af !important;
      opacity: 1 !important;
      -webkit-text-fill-color: #9ca3af !important;
    }
    
    &:focus {
      color: #111827 !important;
      -webkit-text-fill-color: #111827 !important;
    }
  }
}

// Forzar visibilidad de iconos en botones dentro de ion-item
ion-item {
  ion-button {
    --color: #6b7280 !important;
    
    ion-icon {
      color: #6b7280 !important;
      opacity: 1 !important;
    }
    
    &:hover ion-icon {
      color: #ff9900 !important;
    }
  }
}

// Asegurar que los iconos de los campos sean visibles
ion-icon {
  &[slot="start"],
  &[slot="end"] {
    color: #6b7280 !important;
    opacity: 1 !important;
  }
}

// Fix para autocomplete de Chrome (fondo blanco)
ion-input input:-webkit-autofill,
ion-input input:-webkit-autofill:hover,
ion-input input:-webkit-autofill:focus {
  -webkit-text-fill-color: #111827 !important;
  -webkit-box-shadow: 0 0 0px 1000px #f9fafb inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

